@import 'colors';
.footer{
    width: 100%;
    background: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    p {
        color: rgb(0, 0, 0);
        font-size: $p-font-size;
        font-size: bold;
        font-weight: 500;
    &:hover {
        color:$newbgcolor;
        font-size: bold;
        cursor: grabbing;
            }
    }
    
}

