.github {
    width: 100%;
    height: 100vh;
    background: #000;
    color: white;

    >.gitInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;
        background-color: aliceblue;
    
        > img{
            width: 50%;
            height: 50%;
            background: red;
        }
    
    }

}